<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="python" arguments="wsgi.py" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log" startupTimeLimit="120" processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="FLASK_APP" value="server:app" />
        <environmentVariable name="FLASK_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
